body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-send-comment {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-send-comment .form-signin-heading,
.form-send-comment .checkbox {
    margin-bottom: 10px;
}

.form-send-comment .checkbox {
    font-weight: normal;
}

.form-send-comment .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-send-comment .form-control:focus {
    z-index: 2;
}

.form-send-comment input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-send-comment button {
    margin-top: 10px;
}

.has-error {
    color: red
}